################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/prelim-exam-sorila-raquel/bin/Debug/netcoreapp3.1
