@model MvcMovie.Models.Director

@{
    ViewData["Title"] = "Edit";
}

<h4 style="font-family:Cooper Black; color:#b5e2ff; font-size:30px">Add Director</h4>
<hr />

<div class="row" style="font-family:Arial; color:#b5e2ff; font-size:15px">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Add Movies</label>
                <select class="form-control" asp-items="@ViewBag.movies"
                        id="Addmovie" name="Addmovie">
                </select>
            </div>
            <center>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            </center>
        </form>
    </div>
</div>

<div>
    <a style="font-family:Arial; color:#b5e2ff; font-size:15px" asp-action="Index">Go to Director List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
