@{
    ViewData["Title"] = "About";
}


<center>
    <p style="font-family:Arial; color:#b5e2ff; font-size:25px">
        <br /><br />
        "Film as dream, film as music. No art passes our conscience in the way film does, <br>
        and goes directly to our feelings deep down into the dark rooms of our souls." <br>
        </p>
</center>
       <p style="text-align:right; margin-right:180px; font-family:Arial; color:#b5e2ff; font-size:25px"> - Ingmar Bergman</p>
    

        <h1 style="font-family:Cooper Black; color:#b5e2ff; font-size:20px; margin-top:130px;">
            Developers
        </h1>
        <p style="font-family:Arial; color:#b5e2ff; font-size:15px; ">
            Robel, Andrei M.  |  1243-18<br>
            Sorila, Raquel A. |  1030-18<br>
            BSIT31E1
        </p>
    