@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family: Brush Script MT; margin-top:155px; font-size: 150px; font-weight: bold; color: #d0efff;">Movie Mania</h1>
</div>
